<header>
  <h1 tabindex="0">About Us</h1>
</header>

<main>
  <h2 class="text-center" tabindex="0">Statement</h2>
  <p class="max-width-700 pb-5" tabindex="0">
    OtakuOracle stands as a dedicated online platform catering to the diverse
    and passionate community of Anime enthusiasts worldwide. Leveraging the
    cutting-edge Jikan API, our website seamlessly integrates with the extensive
    database offered by MyAnimeList, a renowned hub for Anime and manga
    aficionados. This dynamic synergy enables OtakuOracle to provide an
    immersive and personalized experience for users seeking anime
    recommendations. Whether users input a specific username or share a curated
    list of their favorite anime titles, our platform taps into the wealth of
    data on MyAnimeList to generate tailored recommendations that align with
    their unique preferences. The use of the Jikan API ensures real-time
    updates, allowing OtakuOracle to stay current with the latest releases and
    trends in the ever-evolving world of Anime. As a result, our users can
    explore new and exciting content that resonates with their tastes, fostering
    a vibrant and engaging community of anime lovers on our platform.
    OtakuOracle is not just a website; it's a gateway to a world of limitless
    anime possibilities, connecting fans and fostering a shared love for this
    captivating art form.
  </p>
  <div class="flex-center pb-5">
    <a
      href="/main"
      class="primary-bg-color primary-text-color rounded-pill no-underline px-5 py-2"
    >Get started</a>
  </div>
</main>

<footer class="flex-center flex-column">
  <h2 tabindex="0">Authors</h2>
  <ul class="no-bullet p-0 flex-center flex-column">
    <li tabindex="0">Paul Odre</li>
    <li tabindex="0">Owen Truong</li>
    <li tabindex="0">Ryan Lee</li>
    <li tabindex="0">Maciej Kowalczyk</li>
  </ul>
</footer>