<header class="text-center mb-4">
  <h1 tabindex="0">Your Friends</h1>
  <p tabindex="0">{{friendCount}} Friends</p>
  <a tabindex="0" class="header" href="/accounts">Go Back to Your Account</a>
</header>

<main class="mx-5">
  {{! Button for tabbing to friend list, pending requests, and sent requests }}
  {{! Related article: https://getbootstrap.com/docs/5.3/components/navs-tabs/
  In line with the ARIA Authoring Practices pattern, only the
  currently active tab receives keyboard focus. Once the currently active tab
  has focus, the cursor keys activate the previous/next tab (not tabbing through) }}
  <div
    class="btn-group pb-3"
    role="group"
    aria-label="Radio toggle button group of friend list, pending requests, and sent requests"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="friendList"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-danger radio-btn" for="friendList">Friend List</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="pendingRequests"
      autocomplete="off"
    />
    <label
      class="btn btn-outline-danger radio-btn"
      for="pendingRequests"
    >Pending Requests</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="sentRequests"
      autocomplete="off"
    />
    <label class="btn btn-outline-danger radio-btn" for="sentRequests">Sent
      Requests</label>
  </div>

  <div class="friendListInfo">
    <h3 tabindex="0">Friend List:</h3>
    <ul class="list-group">
      {{#unless friendList}}
        <p class="fw-bold text-center" tabindex="0">No Friends...</p>
      {{/unless}}

      {{#each friendList}}
        <li class="list-group-item">
          <span tabindex="0">{{this.username}}</span>
          <label class="hiddenLabel" for="removeFriend">Remove Friend</label>
          <button
            type="button"
            id="removeFriend"
            class="btn btn-outline-danger mx-4"
          >
            <img
              src="/public/resources/person-x.svg"
              alt="Person X Icon"
              width="16"
              height="16"
            />
            Remove
          </button>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="pendingRequestsInfo hidden">
    <h3 tabindex="0">Pending Friend Requests:</h3>
    {{#unless pendingRequests}}
      <p class="fw-bold text-center" tabindex="0">No Pending Friend Requests...</p>
    {{/unless}}

    <ul class="list-group">
      {{#each pendingRequests}}
        <li class="list-group-item">
          <span tabindex="0">{{this}}</span>
          <label class="hiddenLabel" for="rejectPending">Reject Pending Friend
            Request</label>
          <button
            type="button"
            id="rejectPending"
            class="btn btn-outline-danger mx-4"
          >
            <img
              src="/public/resources/person-x.svg"
              alt="Person X Icon"
              width="16"
              height="16"
            />
            Reject
          </button>

          <label class="hiddenLabel" for="acceptPending">Accept Pending Friend
            Request</label>
          <button type="button" id="acceptPending" class="btn btn-success mx-4">
            <img
              src="/public/resources/person-x.svg"
              alt="Person X Icon"
              width="16"
              height="16"
            />
            Accept
          </button>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="sentRequestsInfo hidden">
    <h3 tabindex="0">Friend Requests Sent:</h3>
    {{#unless sentRequests}}
      <p class="fw-bold text-center" tabindex="0">No Friend Request Sent...</p>
    {{/unless}}

    <ul class="list-group">
      {{#each sentRequests}}
        <li class="list-group-item">
          <span tabindex="0">{{this}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</main>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script defer src="/public/js/friends.js"></script>