<h1>Manual Entry Test Placeholder</h1>
{{#if NoResult}}
<p>We're sorry, but no recomendations were found for your query.</p>
{{else}}
<ol>
    {{#each Result}}
        {{#this}} 
            <li><a tabindex="0" href="https://myanimelist.net/anime/{{this.id}}">{{this.title}}</a></li>
        {{/this}}
    {{/each}}
</ol>
{{/if}}
<a href "/main">Return to Main (Placeholder)</a>