:root {
  --primary-color: #ce0900;
  --secondary-color: #00c5ce;
  --gold-color: #ffd700;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-stretch {
  display: flex;
  align-items: stretch;
}

.primary-text-color {
  color: white;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.secondary-text-color {
  color: black;
}

.secondary-bg-color {
  background-color: var(--secondary-color);
}

.no-underline {
  text-decoration: none;
}

.no-bullet {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.text-l {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 1.8rem;
}

.text-light-bold {
  font-weight: 550;
}

.text-bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 10px 10px gray;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-700 {
  max-width: 700px;
}

.inline-flex {
  display: inline-flex;
}

.width-100p {
  width: 100%;
}

.hiddenLabel {
  display: none;
}

.disable-pointer {
  pointer-events: none;
}

.reduce-opacity {
  opacity: 0.5;
}

/*Imitate Google Chrome focus*/
#navbar__menu-button:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

.background-transparent {
  background-color: hsla(0, 0%, 0%, 0);
}

.text-gold {
  color: var(--gold-color);
}

a.header {
  color: #b50010;
}

a.header:hover {
  color: red;
}

a.regular {
  color: #b50010;
}

a.regular:visited {
  color: #9900cc;
}

a.regular:hover {
  color: red;
}

.radio-btn {
  color: black;
}

.list-group-item form {
  display: inline;
}
